body{
    font-size: 25px;
    background-image: url("../img/bg.svg");
    background-size: 100vw;
}

.flex-row{
    display:flex;
}

.align-content{
    align-content: center;
}

.space-evenly{
    justify-content: space-evenly;
}

.flex-wrap{
    flex-wrap: wrap;
}

h1{
    text-shadow: 6px 6px 0px rgba(20,0,0,1);
    font-size: 2rem;
}

h4{
    font-size: 1rem;
}


.flex-col{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bg-1{
    background:rgba(20, 10, 10, 0.9);
    color:white;
    position: fixed;
    top:0px;
    left:0px;
    width: 15vw;
    height:100%;
}
.bg-2{
    background:rgba(250, 250, 250, 0.9);
    color:black;
    position: relative;
    left:15vw;
    width:85vw;
    height:100%;
}
.contact{
    width:100%;
    text-align: center;
    border-top: 1px solid black;
    padding: .5em 0;
}

.contact:hover {
    background: rgba(255, 125, 125, 0.9);
    cursor: pointer;
    border-top: 0px;
}

.bg-3{
    padding: 1em;
}

.bg-4{
    padding: 3.1em;
}

a {
    text-decoration: none;
    color:inherit;
}

.list:hover{
    color:white;
    background: rgba(255, 125, 125, 0.9);
}

.list{
    width:100%;
}

li {
    padding: 0.5em 1.5em;
    font-size: 1rem;
}

.sidebar{
    padding: 0 1em;
}
.header{
    text-align: center;
    filter: blur(.5px);
    background:rgba(20, 10, 10, 0.7);
    font-size: 2em;
    color:white;
    padding:10px;
    text-shadow: -10px -2px 20px #e60000,
                 10px 5px 20px #cc9601,
                 -10px 5px 20px #0071bd;
}
p{
    margin:0;
}

div{
    padding:0;
}

.padding{
    padding:10px;
}

.text-center{
    text-align: center;
}

.site{
    border: 1px solid black;
    font-size: .7em;
    padding: .5em;
}

.site:hover {
    background: black;
    background: rgba(255, 125, 125, 0.9);
}

.me:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    cursor: w-resize;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
